body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    background-color: #f0f0f0;
    padding-top: 10vh;
    box-sizing: border-box;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

/* Styling for images */
.image-container img {
    height: 200px;
    background-color: transparent;
    cursor: pointer;
    transform: scale(1);
    -webkit-transition: transform 0.4s ease-in-out;
    align-self: end;
}

.image-container img.double-height {
    height: 350px;
}

.image-container img:hover {
    transform: scale(1.4);
    position: relative;
    z-index: 1;
}

@media (max-width: 600px) {

    .body {
        padding-top: 20vh;
    }

    .image-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    .image-container img {
        height: 150px;
    }

    .image-container img.double-height {
        height: 250px;
    }
}

/* Media query for tablets (screen width between 600px and 900px) */
@media (min-width: 601px) and (max-width: 900px) {
    .image-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .image-container img {
        height: 180px;
    }

    .image-container img.double-height {
        height: 300px;
    }
}