body {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    padding-top: 40vh;
    box-sizing: border-box;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 350px;
    gap: 20px;
}

.image-container img {
    height: 200px;
    background-color: transparent;
    cursor: pointer;
    transform: scale(1);
    -webkit-transition: transform 0.4s ease-in-out;
    align-self: end;
}

.image-container img.double-height {
    height: 350px;
}

.image-container img:hover {
    transform: scale(1.4);
    position: relative;
    z-index: 1;
}

