body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.image-container {
    display: flex;
    align-items: flex-end;
}

.image-container img {
    height: 200px;
    object-fit: contain;
    background-color: transparent;
    padding-left: 2px;
    cursor: pointer;

    transform: scale(1);
    -webkit-transition: transform 0.4s ease-in-out;
}

.image-container img.double-height {
    height: 350px;
}

.image-container img:hover {
    transform: scale(1.4);
    position: relative;
    z-index: 1;
 }
